
@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Serif&family=Montserrat&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Whole Body */
body{
	background: #161616;
    color: #F1F6F9;
	font-family: 'Lato', sans-serif;
}

/* Nav-Bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    font-size: 16px;
    padding: 27px 0px;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    margin-right: 5rem;
}

li, a{
    list-style:none;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #F1F6F9;
    font-size: 18px;
    letter-spacing: 1.2px;
    font-weight: 500;
}

#logo{
    margin-left: 5rem;
    font-weight: 800;
}

/* Main Content */
.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 75vh;
    margin: auto;
    /* background-color: #007F5F; */
    background: url(shattered-island.gif);
}
.main-cont{
    position: relative;
    width: 40%;
    margin-right: auto;
    margin-bottom: 2rem;
    padding-top: 20px;
    margin-left: 5rem;
}
.main-cont h4{
    font-size: 2.4rem;
    font-family: 'PT Serif', serif;
    font-weight: normal;
    padding: inherit;
    width: auto;
}
.main-cont p{
    font-size: 18px;
    line-height: 1.4em;
    padding: inherit;
    margin-left: 0px;
    width: auto;
}
.side-img img{
    padding-top: 1rem;
    width: 690px;
    height: 450px;
}

/* Sub-Content */
.sub-hero{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80vh;
    margin: auto;
    overflow: hidden;
}
.sub-hero::before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url(Existential-Angst.jpg);
    background-size: cover;
    opacity: 0.15;
    }
.sub-cont{
    position: relative;
    width: 45%;
    padding-top: 30px;
    margin-right: 2rem;
}
.sub-cont h3{
    font-size: 1.8rem;
    font-weight: normal;
    padding: inherit;
    margin: auto;
}
.sub-cont p{
    font-size: 18px;
    padding: inherit;
    margin:auto;
}
.sub-img img{
    position: relative;
    width: 500px;
    height: 450px;
    margin-left: 2.4rem;
    margin-top: 30px;
    box-shadow: 10px 10px #636363;
}
