body{
	
	background: #264653;
	font-size: 16px;
	font-family:sans-serif;

}
nav ul{
	background-color:#228CDB;
	
	padding:10px;
	
	list-style: none;
	display:flex;
	flex-direction:row;
	
	
	
}
nav a{
	float: right;
	color: black;
}
 .main-content{
	background-color: #fff;
	display: grid;
	place-items: center;
	margin: auto;
}

a{
	text-decoration:none;
}

section{
	background-color:#05668D;
	color:#fff;
	border-radius:10px;
	padding:10px;
	margin-top:20px;
}

