@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Serif&family=Montserrat&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
	background: #05668D;
    
	font-family: 'Lato', sans-serif;
}

nav{
    display:flex;
    align-items:center;
}

nav div{
    margin-right:5%;
    margin-left:5%;
}

nav ul{
    margin-left:auto;
    flex-grow:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    padding: 20px 0px;
    color: #F1F6F9;
    font-size: 16px;
}
nav li{
    margin-right: 2rem;
}
li, a{
    list-style:none;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #F1F6F9;
}

#logo{
    margin-right: auto;
    font-weight: 700;
}

.container{
    background-color:#007F5F;
    display:grid;
    grid-column: repeat(1,1fr);
    grid-row: repeat(1,1fr);
    padding-bottom: 20px;
}
.container h3{
    font-family: 'PT Serif', serif;
    font-size: 36px;
    font-weight: normal;
    padding-bottom: 0px;
}
.container h3,.container p{
    text-align: center;
    margin: auto;
    padding: 45px 70px 20px 70px;
    align-items: center;
    color: #E8EAEB;
}

p{
    width: 50%;
    margin: 20px;
    padding: 30px;
    line-height: 1.4em;
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;

}

.sub-cont{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    height:200px;
    color: white;
}
